
@font-face {
    font-family:"☞Formular Medium";
    src:url("39778F_0_0.woff2") format("woff2"),url("39778F_0_0.woff") format("woff"),url("39778F_0_0.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        