@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/39773e");
@import url("//hello.myfonts.net/count/39778f");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/**
 * @license
 * MyFonts Webfont Build ID 3766078, 2019-05-25T02:18:23-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Formular by Brownfox
 * URL: https://www.myfonts.com/fonts/brownfox/formular/regular/
 * 
 * Webfont: FormularMono by Brownfox
 * URL: https://www.myfonts.com/fonts/brownfox/formular/mono/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3766078
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2014 by Vyacheslav Kirilenko, Gayane Bagdasaryan. All rights reserved.
 * 
 * © 2019 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Formular';
  src: url("../webfonts/39773E_0_0.eot");
  src: url("../webfonts/39773E_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/39773E_0_0.woff2") format("woff2"), url("../webfonts/39773E_0_0.woff") format("woff"), url("../webfonts/39773E_0_0.ttf") format("truetype"), url("../webfonts/39773E_0_0.svg#wf") format("svg"); }
@font-face {
  font-family: 'Formular-Medium';
  src: url("../webfonts/39778F_0_0.eot");
  src: url("../webfonts/39778F_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/39778F_0_0.woff2") format("woff2"), url("../webfonts/39778F_0_0.woff") format("woff"), url("../webfonts/39778F_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'FormularMono';
  src: url("../webfonts/39773E_1_0.eot");
  src: url("../webfonts/39773E_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/39773E_1_0.woff2") format("woff2"), url("../webfonts/39773E_1_0.woff") format("woff"), url("../webfonts/39773E_1_0.ttf") format("truetype"), url("../webfonts/39773E_1_0.svg#wf") format("svg"); }
.Formular {
  font-family: Formular;
  font-weight: normal;
  font-style: normal; }

.Formular-Medium {
  font-family: Formular-Medium;
  font-weight: normal;
  font-style: normal; }

.FormularMono {
  font-family: FormularMono;
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }

html, body {
  height: 100%;
  color: #292a2c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

a:not(.rdwn-name) {
  color: #292a2c;
  border-bottom: 1px solid #e9eaeb;
  text-decoration: none;
  cursor: pointer; }
  a:not(.rdwn-name):hover {
    border-bottom: 1px solid #FF2C2D;
    color: #FF2C2D; }

p {
  font-family: Formular;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1rem; }

.rdwn-wrap {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap; }

.rdwn-grid-container {
  position: relative;
  display: grid;
  max-width: 60rem;
  width: 100%;
  grid-template-rows: repeat(auto);
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em; }
  @media screen and (max-width: 900px) {
    .rdwn-grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 2em;
      padding: 0 2em; } }

.rdwn-header {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 5px;
  font-family: Formular; }
  .rdwn-header .rdwn-name {
    text-decoration: none;
    color: #292a2c; }
    .rdwn-header .rdwn-name small {
      color: #a7a9ad; }
  .rdwn-header .rdwn-links {
    margin-left: auto; }
    .rdwn-header .rdwn-links li {
      display: inline-block;
      margin-left: 12px; }

.rdwn-playground-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2em; }
  .rdwn-playground-grid .block {
    border: 1px solid #f4f4f4; }

.rdwn-bio_copy {
  margin-top: -.8rem; }
  @media (max-width: 600px) {
    .rdwn-bio_copy p {
      font-size: 1.2rem; } }
  .rdwn-bio_copy .rdwn-bio_copy__main {
    font-size: 2.8rem;
    line-height: 1.4;
    letter-spacing: -.75px;
    margin-bottom: 3rem; }
  .rdwn-bio_copy .rdwn-bio-subsection {
    font-family: Formular;
    margin-top: 4rem; }
    .rdwn-bio_copy .rdwn-bio-subsection .rdwn-bio_copy__smalltitle {
      font-family: FormularMono;
      font-size: 1.4rem;
      margin-bottom: 2rem; }
    .rdwn-bio_copy .rdwn-bio-subsection h4 {
      font-family: Formular-Medium;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .rdwn-bio_copy .rdwn-bio-subsection .rdwn-project-titles {
      font-size: 2.8rem;
      margin-bottom: 1.5rem; }

.rdwn-bio_copy.profile {
  max-width: calc(768px - 2rem);
  width: 100%;
  margin: 0 auto; }
  .rdwn-bio_copy.profile .rdwn-bio_copy__main {
    font-family: Formular-Medium; }
  .rdwn-bio_copy.profile .rdwn-bio_copy__smalltitle {
    text-transform: uppercase;
    font-size: 1rem;
    color: #a7a9ad;
    text-transform: uppercase;
    letter-spacing: 1px; }

.rdwn-pagetitle {
  margin-bottom: 4rem;
  text-align: center;
  font-family: FormularMono;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a7a9ad; }

.rdwn-container-works {
  margin-bottom: 10rem; }

.rdwn-works-main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
  font-family: Formular; }
  .rdwn-works-main .brief {
    width: 100%;
    margin-right: 4rem; }
    .rdwn-works-main .brief .title {
      font-family: Formular-Medium;
      font-size: 2.8rem;
      letter-spacing: -.75px;
      line-height: 1.4;
      margin-bottom: 1.5rem;
      text-align: center; }
    .rdwn-works-main .brief .date {
      color: #a7a9ad;
      display: block;
      text-align: center;
      font-family: FormularMono;
      margin-bottom: 1.5rem; }
  .rdwn-works-main .rdwn-work-copy {
    max-width: calc(768px - 2rem);
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem; }
    .rdwn-works-main .rdwn-work-copy .small-title {
      font-family: Formular-Medium;
      margin-bottom: 1rem;
      display: block;
      font-size: 1.4rem;
      line-height: 1.5; }
    .rdwn-works-main .rdwn-work-copy ul {
      margin: 4rem 0;
      border: 1px solid #dcddde; }
      .rdwn-works-main .rdwn-work-copy ul li {
        padding: 1rem;
        border-bottom: 1px solid #dcddde; }
        .rdwn-works-main .rdwn-work-copy ul li h5 {
          margin-bottom: .4rem; }
        .rdwn-works-main .rdwn-work-copy ul li p {
          margin-bottom: 0;
          font-size: 1rem;
          font-family: FormularMono;
          letter-spacing: -.75px; }
        .rdwn-works-main .rdwn-work-copy ul li:last-child {
          border-bottom: none; }
    .rdwn-works-main .rdwn-work-copy blockquote {
      font-family: FormularMono;
      margin: 4rem 0;
      font-size: .8rem;
      line-height: 1.5;
      letter-spacing: -.75px;
      border-left: 1px solid #a7a9ad;
      padding-left: 16px; }

.rdwn-read-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
  font-family: Formular; }
  .rdwn-read-container .rdwn-read-title {
    margin-bottom: 4rem;
    text-align: center;
    font-family: FormularMono;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #a7a9ad; }
    @media (max-width: 600px) {
      .rdwn-read-container .rdwn-read-title {
        font-size: 1em; } }
  .rdwn-read-container .rdwn-read-list {
    display: flex;
    flex-flow: row wrap;
    position: relative; }
    .rdwn-read-container .rdwn-read-list li {
      position: relative;
      width: calc(100% / 4);
      padding: 1rem; }
      .rdwn-read-container .rdwn-read-list li a {
        line-height: 1.5;
        border-bottom: none;
        font-family: Formular-Medium; }
        @media (max-width: 600px) {
          .rdwn-read-container .rdwn-read-list li a {
            font-size: 1rem; } }
        .rdwn-read-container .rdwn-read-list li a:hover {
          border-bottom: 1px solid #FF2C2D; }
      .rdwn-read-container .rdwn-read-list li p {
        margin-top: .5rem;
        line-height: 1.5; }
      .rdwn-read-container .rdwn-read-list li .domain {
        margin-top: 1rem;
        font-size: .8rem;
        color: #a7a9ad;
        display: block;
        font-family: FormularMono; }

.workImage {
  max-width: calc(100% + 200px);
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 4em;
  position: relative; }
  .workImage.small {
    max-width: 768px; }
  @media (max-width: 600px) {
    .workImage {
      margin: 0 1em; } }
  .workImage img {
    position: relative;
    width: 100%; }

.rdwn-video-container {
  max-width: calc(100% + 200px);
  margin: 0 auto;
  margin: 4em 0;
  position: relative; }
  @media (max-width: 600px) {
    .rdwn-video-container {
      margin: 0 1em; } }
  .rdwn-video-container video {
    position: relative;
    width: 100%; }

.rdwn-playground {
  margin-top: 8em; }
  @media (max-width: 600px) {
    .rdwn-playground {
      margin-top: 4em; } }
  .rdwn-playground p {
    font-size: 2.2em;
    line-height: 1.5; }
    @media (max-width: 600px) {
      .rdwn-playground p {
        font-size: 1.5em; } }

footer {
  display: flex;
  flex-flow: row;
  margin-top: auto;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Formular;
  place-self: auto; }
  footer .rdwn-socials ul {
    display: inline-block; }
  footer .rdwn-socials li {
    list-style: none;
    margin-left: 0;
    display: inline-block; }
    footer .rdwn-socials li a {
      margin-right: 1em; }
  footer .copyright {
    margin-left: auto; }

@media screen and (max-width: 600px) {
  html {
    font-size: 12px; }

  .rdwn-grid-container {
    padding: 0; }

  .rdwn-header .rdwn-name {
    font-size: 1.4rem; }

  .rdwn-header .rdwn-links {
    text-align: right; }
    .rdwn-header .rdwn-links li {
      display: block; }

  .rdwn-bio_copy .rdwn-bio-subsection h4 {
    line-height: 1.5; }

  .rdwn-bio_copy .rdwn-bio_copy__main {
    font-size: 2rem; }

  .rdwn-bio_copy .rdwn-bio-subsection .rdwn-bio_copy__smalltitle {
    font-size: 1rem; }

  .rdwn-bio_copy .rdwn-bio-subsection .rdwn-project-titles {
    font-size: 2rem; }

  .rdwn-bio_copy p {
    font-size: 1.4rem; }

  footer {
    flex-flow: column; }

  footer .copyright {
    margin-left: 0;
    margin-top: 1rem; }

  .rdwn-works-main .brief .title {
    font-size: 2rem; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
